@model EFCUTY_ASP_2022231.Models.Subject

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubjectCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
