@model EFCUTY_ASP_2022231.Models.Subject
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
    </dl>
</div>
    <div>
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
        <div>
             <a asp-action="Edit" asp-route-id="@Model.SubjectCode">Edit</a> |  
             <a asp-action="Delete" asp-route-id="@Model.SubjectCode">Delete</a>
        </div>
    }
         <a asp-action="Index">Back to List</a> |
    <a href="@Url.Action("Create","Posts", new {subjectCode = Model.SubjectCode})">New Post</a>

    </div>

<table border="0">
    @{
        foreach (var Post in Model.Posts)
        {
                <tr>
                    <th>
                        @Post.Author.FirstName @Post.Author.LastName
                    </th>
                    <th>
                        @Post.Timestamp
                    </th>
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin") || UserManager.GetUserId(User) == Post.SiteUserId){
                        <th>
                        <a href="@Url.Action("Edit","Posts")/@Post.Id">Edit</a> | 
                        <a href="@Url.Action("Delete","Posts")/@Post.Id">Delete</a>

                        </th>
                }
                </tr>
                <tr>
                    <th>
                        @Post.Content
                    </th>
                </tr>
        }
    }
</table>