@model IEnumerable<EFCUTY_ASP_2022231.Models.Subject>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectCode">Edit</a> |
                <a href="./Posts?subjectCode=@item.SubjectCode"> Details</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectCode"> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
