@model EFCUTY_ASP_2022231.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectCode)
        </dd>
    </dl>
</div>
<div>
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin") || UserManager.GetUserId(User) == Model.SiteUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit Post | </a>
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete Post | </a>
    }
    <a href=@Url.Action("Index", "Posts", new {subjectCode = Model.SubjectCode})>Back to List </a>
</div>

<a href="@Url.Action("Create","Comments")>New Comment</a> |

<table border="0" >
@{
    foreach (var Comment in Model.Comments)
    {
            <tr>       
                <th>
                    @Comment.Author.FirstName @Comment.Author.LastName
                </th>
                <th>
                    @Comment.Timestamp
                </th>
            </tr>
            <tr>
                <th>
                    @Comment.Content
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin") || UserManager.GetUserId(User) == Comment.SiteUserId)
                    {
                    <th>
                        <a href="@Url.Action("Edit","Comments")/@Comment.Id">Edit</a> |
                        <a href="@Url.Action("Delete","Comments")/@Comment.Id">Delete</a>

                    </th>
                    }
                </th>
            </tr>
    }
}
</table>