@using EFCUTY_ASP_2022231.ViewModels
@model CommentsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Comments", new { postId = Model.PostId})">New comment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Time
            </th>
            <th>
                Author
            </th>
            <th>
                Actions (if applicable)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>

                @if (SignInManager.IsSignedIn(User) && (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin") || item.Author.Id == UserManager.GetUserId(User)))
                {
                        <td>

                        <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id">Edit</a>

                        <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                
            </tr>
        }
    </tbody>
</table>
